@font-face{
	font-family: "Roboto";
	src: url("roboto-regular-webfont.woff");
	font-weight: normal;
}
@font-face{
	font-family: "Roboto";
	src: url("roboto-light-webfont.woff");
	font-weight: 200;
}

html, body { width: 100%; font-family: Roboto, "Droid Sans", Arial, Helvetica, sans-serif; }

* { box-sizing: border-box; margin: 0; padding: 0; }

body { padding: 10px; background-color: #EEE; }
header { display: block; }

.actionBar{
	width: 100%;
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	height:40px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);	
	z-index: 50;

	background-color:#DDDDDD;
	border-bottom: solid 2px #D2D2D2;
}
.actionBar span { margin: 8px; display:inline-block; }
.actionBar a { color: black; font-size:.7em; text-transform:uppercase; padding: 8px 12px; }
.actionBar a:active { background-color: #CCC; }

.wrapper { margin: 0 auto 10px auto; max-width: 400px; }

.timestamp{ position: relative; width: 100%; background-color: white; border-bottom: solid 2px #CCC; border-radius: 2px; color: #AAA; overflow: hidden; margin: 10px 0; opacity: 1; max-height: 400px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-transform: scale(1, 1) translateY(0) translateX(0); -webkit-transform-origin: 50% 0%;
	-webkit-transition: opacity .35s, -webkit-transform .25s, max-height ease-out .35s; 
}
.timestamp.enter { -webkit-transform: translateX(-400px); max-height: 0;}
.timestamp.remove { opacity: 0; max-height: 0;}
.timestamp.remove.left { -webkit-transform: translateX(-400px) !important; }
.timestamp.remove.right { -webkit-transform: translateX(400px) !important; }
.timestamp.noAnim { -webkit-transition: none;  }

.timestamp header { padding: 4px 30px 4px 8px; font-size: 1em; border-bottom: dotted #EEE 2px; color: #BF0252; }
.timestamp header input { width: 100%; }

.timestamp .datetimes { }
.timestamp .datetime { height: 90px; position: absolute; width: 300px; display: none; -webkit-transition: all ease-in-out .2s; opacity: 1; }
.timestamp .datetime.top { -webkit-transform: translateY(-30px); opacity: 0; }
.timestamp .datetime.bottom { -webkit-transform: translateY(30px); opacity: 0; }

.timestamp .datetime .large { margin: 0 8px; display: inline-block; font-size: 3em; font-weight: 200; letter-spacing: -.05em; }
.timestamp .datetime .med { margin: 4px 8px 2px 8px; display: inline-block; font-size: 2em; font-weight: 200; letter-spacing: -.05em;}
.timestamp .datetime .small { margin: -10px 0 7px 8px; color: #999;}
.timestamp .datetime .soopa { vertical-align: super; font-size: .5em; letter-spacing: 0; padding-left: 4px; }

.timestamp .edit, .timestamp .confirm, .timestamp .cancel { position: absolute; top: 8px; right: 5px; color: #CCC;}
.timestamp .cancel { right: 25px;  }
.timestamp .edit:active, .timestamp .confirm, .timestamp .cancel { color: #999; }

.timestamp .tags { position: relative; padding: 6px 8px 2px 8px; font-size: .9em; border-top: dotted #EEE 2px; margin-top: 90px; color: #BF0252; } 
.timestamp .tags .tagIcon { padding-right: 4px; display: inline-block; }
.timestamp .tags .tag { display: inline-block; background-color: #DDD; margin: 0 2px 4px 2px; border-radius: 4px; }
.timestamp .tags .tag a { display: inline-block; color: #BF0252; text-decoration: none; margin: 2px 6px; }
.timestamp .tags .tag:active { color: #BF0252;}
.timestamp .tags .tag .removeTag { display: none; background-color: #BF0252; color: white; padding: 0 4px; border-radius: 4px 0 0 4px; }
.timestamp .tags .addTag { display: none; color: #BF0252; }

.timestamp .tags.editable .tagIcon { color: #BF0252; }
.timestamp .tags.editable .tag .removeTag { display: inline; }
.timestamp .tags.editable .addTag { display: inline; }

.newTimestamp { position: fixed !important; top: 0; left: 0; z-index: 10; width: 100%; background-color: white; border-bottom: solid 2px #CCC; border-radius: 2px; color: #AAA; overflow: hidden; margin: 10px 0; font-size: 1.2em; 
	-webkit-transform: translateY(40px);
	-webkit-transition: -webkit-box-shadow .2s, top .5s, -webkit-transform .4s;
}
.newTimestamp.stickied { -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.65); }
.newTimestamp.out { -webkit-transform: translateY(-75px); }

.newTimestamp .plusIcon { float: left; padding: 10px 20px; color: #BF0252; font-size: 2em; border-right: dotted #CCC 2px;}
.newTimestamp .presetWrapper { display: inline-block; position: relative; }
.newTimestamp .presetName { cursor: pointer; color: #BF0252; padding: 0 5px; }
.newTimestamp .preset { background: none; color: transparent; position: absolute; top:0; left: 0; }
.newTimestamp .preset option { background: none; color: #AAA; }
.newTimestamp .edit { position: absolute; top: 8px; right: 5px; color: #CCC; }

select, input { font-family: inherit; font-size: inherit; background-color: transparent; color: inherit; outline: none; border: none;}
select { -webkit-appearance: menulist-text; }

.toast { position: fixed; bottom: 50px; left: 50px; padding: 5px 10px; color: #DDD; background-color: rgba(0,0,0,.75); z-index: 500; border-radius: 2px; -webkit-transition: opacity .3s;}
.toast.hide { opacity: 0; }
.toast a { color: white; padding: 0 5px; }
.toast i { padding: 0 5px; }

.pane { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 250; background-color: #EEE; 
	opacity: 1; -webkit-transform: scale(1, 1);
	-webkit-transition: opacity .2s, -webkit-transform ease-out .2s;
}
.pane.enter { opacity: 0; -webkit-transform: scale(.7, .7); }
.pane .paneItems { width: 100%; height: 100%; font-size: 1.1em; margin-top: 45px; }
.pane .paneItems li { padding: 15px; border-bottom: solid 1px #DDD;}
.pane .paneItems li:active { background-color: #DDD; }
.pane .paneItems li.header { padding: 5px 15px; font-size: .8em; font-weight: bold; border-bottom: solid 1px #AAA; color: #AAA; text-transform: uppercase;}
.pane .paneItems li:last-child { border-bottom: none; }
.pane .paneItems li .sub { display: block; color: #AAA; font-size: .8em; }
.pane .paneItems li .control { float: right; }

body.dark { background: #212121; }
.dark .actionBar a { color: white; }
.dark .timestamp { background-color: #353535; border-bottom-color: black; color: #888;}
.dark .timestamp header { color: white; border-bottom-color: #3d3d3d; }
.dark .timestamp .tags { border-top-color: #3d3d3d; color: white; }
.dark .timestamp .tags .tag { background-color: #3d3d3d;}
.dark .timestamp .tags .tag:active { color: #3d3d3d;}
.dark .timestamp .tags .tag .tagIcon { color: white;}
.dark .timestamp .tags .tag a { color: white; }
.dark .timestamp .tags .addTag { color: white; }
.dark .timestamp .tags .tag .removeTag { color: white; }
.dark .timestamp .tags.editable .tagIcon { color: white; }
.dark .timestamp .tags.editable .tag .removeTag { display: inline; background-color: white; color: #3d3d3d; padding-right: 4px; }
.dark .actionBar { background-color: #333; border-bottom-color: #1F1F1F; border-top-color: #1F1F1F; color: white; }
.dark .newTimestamp { background-color: #353535; border-bottom-color: black; color: #888; }
.dark .newTimestamp .plusIcon { border-right-color: #3d3d3d; color: white; }
.dark .newTimestamp .presetName { color: white; }
.dark .pane { background-color: #333; color: white; }
.dark .pane .paneItems li { border-bottom-color: #3d3d3d; }
.dark .pane .paneItems li:active { background-color: #888; }