<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>ToDone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/holo-base-elements.css" rel="stylesheet">
	<link href="css/holo-base-widgets.css" rel="stylesheet">
	<link href="css/holo-light-elements.css" rel="stylesheet">
	<link href="css/holo-light-widgets.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body class="dark">

	<script type="text/x-underscore-template" id="timestampTemplate">

		<header><%= model.name %></header>

		<div class="datetimes"></div>

		<ul class="tags">
			<li class="tagIcon"><i class="fa fa-tags"></i></li>
			<%= renderTags() %>
			<li class="addTag"><i class="fa fa-plus-square fa-lg"></i></li>
		</ul>

		<i class="fa fa-ellipsis-v fa-fw edit"></i>

	</script>

	<script type="text/x-underscore-template" id="datetimeView0">
		<div class="large">
			<%= renderTimestamp("h:mm") %><span class="soopa"><%= renderTimestamp("a") %></span>
		</div>			
		<div class="small">
			<%= renderTimestamp("MMM Do YYYY") %>, <%= renderTimestamp("fromNow") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="datetimeView1">
		<div class="large">
			<%= renderTimestamp("MMM Do") %>
		</div>
		<div class="small">
			<%= renderTimestamp("fromNow") %>, <%= renderTimestamp("h:mm a") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="datetimeView2">
		<div class="med">
			<%= renderTimestamp("fromNow") %>
		</div>			
		<div class="small">
			<%= renderTimestamp("MMM Do YYYY, h:mm a") %>
		</div>
	</script>

	<header class="actionBar">
		<span style="margin:8px;"><i class="fa fa-check-square-o fa-lg"></i> ToDone</span>
		<button style="float:right;" class="new"><i class="fa fa-plus fa-2x"></i></button>
		<button style="float:right;" class=""><i class="fa fa-search fa-lg"></i></button>
	</header>

	<div class="wrapper"></div>

	<script src="lib/jquery-2.0.3.min.js"></script>
	<script src="lib/underscore.min.js"></script>
	<script src="lib/moment.min.js"></script>
	<script src="lib/holo-touch.js"></script>
	<script src="js/ls.js"></script>
	<script src="js/Timestamp.js"></script>
	<script>

		// default config
		// TODO - make this an array of configs that are
		// 		saved/loaded from ls
		var config = {
			name: "New Timestamp",
			tags: ["antibiotics", "feeding", "diaper change"],
			display: 2
		};

		$(document).ready(function(){

			// TODO - move all of this into a TimestampThread
			// 		type to allow for many threads of timestamps
			$(".new").on("click", function(){
				$(".wrapper").prepend(new Timestamp(config, true).$el);
			});

			var localSto = ls.get(),
				MAX_ENTER_ANIMATE = 4;

			// TODO - sort timestamps by timestamp :/
			localSto.timestamps.forEach(function(timestamp, i){
				var max = i >= MAX_ENTER_ANIMATE ? true : false,
					time = 200 * (max ? MAX_ENTER_ANIMATE : i);

				setTimeout(function(){
					console.log(i, max, time);
					$(".wrapper").append(new Timestamp({
						id: timestamp.id,
						display: timestamp.display,
						name: timestamp.model.name,
						tags: timestamp.model.tags,
						timestamp: timestamp.model.timestamp
					}, !max).$el);
				}, time);
			});

			if(localSto.timestamps.length === 0){
				$(".wrapper").prepend(new Timestamp({
					name: "First launch of ToDone",
					tags: ["awesome"],
					display: 2
				}, true).$el);
			}			

		});		

		function uuid() {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
				return v.toString(16);
			});
		}

		// assumed this.$el and this.cssAnims
		// TODO - allow arrays of classes?
		// TODO - improve stops "." thing...
		function cssAnimate(stop, start, cb){

			if(start){
				this.$el.addClass(start);
				setTimeout(function(){
					this.$el.removeClass(start)
					if(stop !== ".") this.$el.addClass(stop);
				}.bind(this), 0);
			} else {
				if(stop !== ".") this.$el.addClass(stop);
			}

			// TODO - use event listener instead of timer
			// TODO - return something...?
			setTimeout(function(){
				if(stop !== ".") this.$el.removeClass(stop);
				// TODO - args?
				if(cb) cb.call(this);
			}.bind(this), this.cssAnims[stop] || 500);
		}


	</script>
</body>
</html>