<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>ToDone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body class="">

	<script type="text/x-underscore-template" id="timestampTemplate">

		<header><%= model.name %></header>

		<div class="datetimes"></div>

		<ul class="tags">
			<li class="tagIcon"><i class="fa fa-tags"></i></li>
			<%= renderTags() %>
			<li class="addTag"><i class="fa fa-plus-square fa-lg"></i></li>
		</ul>

		<i class="fa fa-ellipsis-v fa-fw edit"></i>

	</script>

	<script type="text/x-underscore-template" id="datetimeView0">
		<div class="large">
			<%= renderTimestamp("h:mm") %><span class="soopa"><%= renderTimestamp("a") %></span>
		</div>			
		<div class="small">
			<%= renderTimestamp("MMM Do YYYY") %>, <%= renderTimestamp("fromNow") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="datetimeView1">
		<div class="large">
			<%= renderTimestamp("MMM Do") %>
		</div>
		<div class="small">
			<%= renderTimestamp("fromNow") %>, <%= renderTimestamp("h:mm a") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="datetimeView2">
		<div class="med">
			<%= renderTimestamp("fromNow") %>
		</div>			
		<div class="small">
			<%= renderTimestamp("MMM Do YYYY, h:mm a") %>
		</div>
	</script>

	<header class="actionBar">
		<span style="margin:8px;"><i class="fa fa-check-square-o fa-lg"></i> ToDone</span>
		<a href="#" style="float:right;" class="new"><i class="fa fa-plus fa-2x"></i></a>
		<a href="#" style="float:right;" class=""><i class="fa fa-search fa-2x"></i></a>
	</header>

	<div class="wrapper"></div>

	<script src="lib/jquery-2.0.3.min.js"></script>
	<script src="lib/underscore.min.js"></script>
	<script src="lib/moment.min.js"></script>
	<script src="js/ls.js"></script>
	<script src="js/eventEmitter.js"></script>
	<script src="js/Timestamp.js"></script>
	<script>

		// default config
		// TODO - make this an array of configs that are
		// 		saved/loaded from ls
		var config = {
			model: {
				name: "New Timestamp",
				tags: ["antibiotics", "feeding", "diaper change"]
			},
			display: 2
		};

		$(document).ready(function(){

			var timestampThread = new TimestampThread(ls.get().timestamps.reverse() || [], $(".wrapper"));

			// TODO - move all of this into a TimestampThread
			// 		type to allow for many threads of timestamps
			$(".new").on("click", function(){
				var timestamp = timestampThread.add(config);
				// TODO - have timestampThread do the prepend/animate?
				$(".wrapper").prepend(timestamp.$el);
				timestamp.animate(null, "enter");
			});		

		});		

		function uuid() {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
				return v.toString(16);
			});
		}

		// ehhh still not too happy with this function :/
		function cssAnimate($el, opts){

			var start = opts.start,
				stop = opts.stop,
				cb = opts.callback,
				cssAnims = opts.cssAnims;

			// TODO - return false if required options are absent

			if(start){
				$el.addClass(start);
				setTimeout(function(){
					$el.removeClass(start)
					if(stop) $el.addClass(stop);
				}, 0);
			} else {
				if(stop) $el.addClass(stop);
			}

			// TODO - use event listener instead of timer
			// TODO - return something...?
			setTimeout(function(){
				if(stop) $el.removeClass(stop);
				// TODO - args?
				if(cb) cb();
			}, cssAnims[stop] || 500);
		}

		// TODO - remove this when done testing
		function asplode(){
			localStorage.ToDone = '{"configs": [], "timestamps": []}';
		}

		function popDialog(){
			/*var wrap = $("<div class='dialogWrapper'></div>"),
				dialog = $("<div class='dialog'>asdf</div>");

			wrap.append(dialog);

			$("body").append(wrap);*/


		}

		function TimestampThread(timestamps, $el){
			this.timestamps = [];
			this.$el = $el;

			var MAX_ENTER_ANIMATE = 5;

			// create Timestamp objects
			timestamps.forEach(this.add.bind(this));

			// if no timestamps, create a default one
			if(timestamps.length === 0){
				this.add({
					model: {
						name: "First launch of ToDone",
						tags: ["awesome"]
					},
					display: 2
				});
			}

			// attach to DOM and attach event listeners
			this.timestamps.forEach(function(timestamp, i){
				var max = i >= MAX_ENTER_ANIMATE ? true : false,
					time = 150 * (max ? MAX_ENTER_ANIMATE : i);

				setTimeout(function(){				
					this.$el.append(timestamp.$el);
					if(!max) timestamp.animate(".", "enter");
				}.bind(this), time);
			}.bind(this));
		}

		TimestampThread.prototype = {
			constructor: TimestampThread,
			add: function(timestamp){
				timestamp.model = timestamp.model || {tags: []};

				var ts = new Timestamp({
					id: timestamp.id,
					display: timestamp.display,
					name: timestamp.model.name,
					tags: timestamp.model.tags,
					timestamp: timestamp.model.timestamp
				});

				ts.on("dirty", function(){
					this.store();
				}.bind(this));

				ts.on("delete", function(timestamp){
					var timestampIndex = this.timestamps.indexOf(timestamp);
					if(~timestampIndex){
						this.timestamps.splice(timestampIndex, 1);
						this.store();
					}
				}.bind(this));

				this.timestamps.unshift(ts);
				this.store();
				return ts;
			},
			// TODO - debounce!
			store: function(){
				var configs = this.fetch().configs,
					timestamps = [];

				this.timestamps.forEach(function(timestamp){
					timestamps.push(timestamp.getParsable());
				});

				localStorage.ToDone = JSON.stringify({configs: configs, timestamps: timestamps});
			},
			fetch: function(){
				if(!localStorage.ToDone){
					store('{"configs": [], "timestamps": []}');
				}
				return JSON.parse(localStorage.ToDone);
			}
		};


	</script>
</body>
</html>