<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>ToDone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body class="">

	<script type="text/x-underscore-template" id="timestampTemplate">

		<header><%= model.name %></header>

		<div class="datetimes"></div>

		<ul class="tags">
			<li class="tagIcon"><i class="fa fa-tags"></i></li>
			<%= renderTags() %>
			<li class="addTag"><i class="fa fa-plus fa-lg"></i></li>
		</ul>

		<i class="fa fa-pencil-square-o fa-fw edit"></i>
		<i class="fa fa-check fa-fw confirm" style="display:none;"></i>
		<i class="fa fa-times fa-fw cancel" style="display:none;"></i>

	</script>

	<script type="text/x-underscore-template" id="datetimeView0">
		<div class="large">
			<%= renderTimestamp("h:mm") %><span class="soopa"><%= renderTimestamp("a") %></span>
		</div>			
		<div class="small">
			<%= renderTimestamp("MMM Do YYYY") %>, <%= renderTimestamp("fromNow") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="datetimeView1">
		<div class="large">
			<%= renderTimestamp("MMM Do") %>
		</div>
		<div class="small">
			<%= renderTimestamp("fromNow") %>, <%= renderTimestamp("h:mm a") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="datetimeView2">
		<div class="med">
			<%= renderTimestamp("fromNow") %>
		</div>			
		<div class="small">
			<%= renderTimestamp("MMM Do YYYY, h:mm a") %>
		</div>
	</script>

	<script type="text/x-underscore-template" id="settingsPane">
		<header class="actionBar">				
			<span style="margin:8px;" class="appIcon">
				<i class="fa fa-chevron-left" style="padding-left: 4px;"></i>
				<i class="fa fa-check-square-o fa-lg"></i>
				Settings
			</span>
		</header>
		<div class="paneItems">
			<ul>
				<li class="header">So many options</li>
				<li class="nightTheme">Night Theme <span class="control"><input type="checkbox"></span></li>
				<li class="deleteAll">
					Delete all of the things
					<div class="sub">This cant be undone bra!</div>
				</li>
			</ul>
		</div>
	</script>

	<script type="text/x-underscore-template" id="presetsPane">
		<header class="actionBar">				
			<span style="margin:8px;" class="appIcon">
				<i class="fa fa-chevron-left" style="padding-left: 4px;"></i>
				<i class="fa fa-check-square-o fa-lg"></i>
				Presets
			</span>
		</header>
		<div class="paneItems">
			<ul>
				<li class="header">The usual</li>
				<li>Choose Default Preset</li>
				<li>Create New Preset</li>
			</ul>
			<ul>
				<li class="header">Edit Presets</li>
				<li>default</li>
				<li>Feeding</li>
				<li>Took a dump</li>
			</ul>
		</div>
	</script>

	<script type="text/x-underscore-template" id="newTimestampTemplate">
		<div class="plusIcon"><i class="fa fa-check-square-o"></i></div>
		<div style="padding: 20px 0 0 90px;">
			<span>Its</span>
			<div class="presetWrapper">
				<select class="preset"></select>				
				<div class="presetName"></div>
			</div>
			<span>time!</span>
		</div>
		<i class="fa fa-cog fa-fw edit"></i>
	</script>

	<header class="actionBar">
		<span style="margin:8px;"><i class="fa fa-check-square-o fa-lg"></i> ToDone</span>
		<a href="#" style="float:right;" class=""><i class="fa fa-cog fa-fw fa-2x options"></i></a>
		<a href="#" style="float:right;" class=""><i class="fa fa-search fa-2x"></i></a>
	</header>


	<div class="wrapper" style="margin-top: 125px;"></div>

	<script src="lib/jquery-2.0.3.min.js"></script>
	<script src="lib/underscore.min.js"></script>
	<script src="lib/moment.min.js"></script>
	<script src="js/ls.js"></script>
	<script src="js/eventEmitter.js"></script>
	<script src="js/Timestamp.js"></script>
	<script src="js/TimestampThread.js"></script>
	<script src="js/TimestampSpawner.js"></script>
	<script>

		$(document).ready(function(){
			// TODO - multiple timestampThreads
			var timestampThread = new TimestampThread(ls.get().timestamps.reverse() || [], $(".wrapper"));
			$(".wrapper").before(new TimestampSpawner(timestampThread).$el);

			$(".options").on("click", function(){
				popPane($("#settingsPane").html(), {
					"click .nightTheme": function(e){

						var checkbox = $(e.currentTarget).find("input"),
							isChecked = checkbox.is(":checked");

						if(isChecked){
							$("body").removeClass("dark");
							toast("Ahh, I see you've returned to your senses.");
						} else {
							$("body").addClass("dark");
							toast("Don't like the magenta?");
						}

						checkbox.prop("checked", !isChecked);

						// TODO - deal with clicking the checkbox instead of li
					},
					"click .deleteAll": function(){
						// TODO - use dialogs for this isntead of alerts
						if(confirm("Are you sure you want to delete *all* of the things?")){
							asplode();
							alert("All of the things are gone. Hope it works out for you bud.");
						}
					}
				});
			});
		});

		function uuid() {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
				return v.toString(16);
			});
		}

		// ehhh still not too happy with this function :/
		function cssAnimate($el, opts){

			var start = opts.start,
				stop = opts.stop,
				cb = opts.callback,
				cssAnims = opts.cssAnims || {};

			// TODO - return false if required options are absent

			if(start){
				$el.addClass(start);
				setTimeout(function(){
					$el.removeClass(start)
					if(stop) $el.addClass(stop);
				}, 0);
			} else {
				if(stop) $el.addClass(stop);
			}

			// TODO - use event listener instead of timer
			// TODO - return something...?
			setTimeout(function(){
				if(stop) $el.removeClass(stop);
				// TODO - args?
				if(cb) cb();
			}, cssAnims[stop] || 500);
		}

		// TODO - remove this when done testing
		function asplode(){
			localStorage.ToDone = '{"presets": [], "timestamps": []}';
		}


		function toast(msg, clickFunc){
			clickFunc = clickFunc || function(){};

			var $toast = $("<div class='toast'>"+ msg +"</div>");

			// TODO - event map instead of single click function
			$toast.on("click", clickFunc);

			// TODO - stack toasts instead of removing
			$("body").find(".toast").remove();

			$("body").append($toast);

			$toast.css("left", ($("body").outerWidth() * 0.5) - ($toast.outerWidth() * 0.5) +"px");

			cssAnimate($toast, {start: "hide"});
			setTimeout(function(){
				cssAnimate($toast, {stop: "hide", callback: function(){
					$toast.remove();
				}});
			}, 2000);
		}

		function popPane(template, eventMap){
			eventMap = eventMap || {};

			// TODO - make back button navigate back
			var $pane = $("<div class='pane'>"+ template +"</div>");
			$pane.find(".appIcon").on("click", function(){
				cssAnimate($pane, {stop: "enter", callback: function(){
					$pane.remove();
				}});
			});

			bindEvents($pane, eventMap);

			$("body").append($pane);
			cssAnimate($pane, {start: "enter"});
		}

		// TODO - reuse this method for all modules
		function bindEvents($el, eventMap, context){
			if(!context) context = this;

			var func, selector, eventAction;

			for(var i in eventMap){
				selector = i.split(" ");
				eventAction = selector.shift();
				selector = selector.join(" ");
				func = eventMap[i];

				if (typeof (func) == "function") {
					$el.on(eventAction, selector, func.bind(context));
				}
			}
		}


	</script>
</body>
</html>